:root {
  /* Fondos generales */
  --color-bg: #f4f4f4;
  --color-bg-input: #fff;
  --color-bg-tooltip: #b0b0b0;
  --color-bg-input-edit: #f5f5f5;

  /* Textos */
  --color-text-primary: #2e2e2e;
  --color-text-secondary: #212529;
  --color-text-input: #1f1f1f;
  --color-text-tooltip: #2e2e2e;
  --color-text-placeholder: #a9a9a9;
  --color-text-error: #dc3545;

  /* Estados de tarea */
  --color-bg-all: #a9a9a9;
  --color-bg-completed: #2ecc71;
  --color-bg-incomplete: #606060;
  --color-bg-unchecked: #cfd5db;

  /* Botones */
  --color-bg-send: #1e90ff;
  --color-bg-save: #0d6efd;
  --color-bg-cancel: #d9534f;
  --color-bg-delete-description: #dc3545;
  --color-bg-delete-task: #b22222;

  /* Tarea */
  --color-icon-edit: #6b7280;
  --color-icon-add: #8b5cf6;
  --color-text-descripmsg: #212529;

  /* Tooltips */
  --color-bg-tooltip: #b0b0b0;

  /* Bordes y radios */
  --border-radius-btn: 0.8rem;
  --border-input: 1px solid #44444483;

  /* Btn and input padding */

  --padding-btn: 0.8rem;
  --padding-input: 1.1rem;
  --padding-input-edit: 0.5rem;

  --padding-btn2: 0.2rem;
  --padding-btn3: 0.5rem;
  --padding-input2: 0.7rem;
  --padding: 2rem;

  /* Tamaños */

  --gap-btn-icon: 0.4rem;
  --alert-size: 10px;

  /* Utilidad */
  --color-text-filter: #fff;

  /* Sombras */

  --shadow-input: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-focus: 0 2px 6px rgba(0, 123, 255, 0.25);

  --shadow-error: 0 2px 6px #d9534f;

  --shadow-btn: 0 2px 4px rgba(0, 0, 0, 0.15);
  --shadow-card: 0 1px 4px rgba(0, 0, 0, 0.08);
  --shadow-tooltip: 0 4px 10px rgba(0, 0, 0, 0.15);

  --shadow-all: 0 0 0 3px rgba(150, 150, 150, 0.5);

  --shadow-incomplete: 0 0 0 3px rgba(80, 80, 80, 0.5);

  --shadow-completed: 0 0 0 3px rgba(72, 208, 129, 0.5);

  /* Hovers de botones */

  --hover-send-btn: #1c86ee;
  --hover-save-btn: #0b5ed7;
  --hover-cancel-btn: #c9302c;
  --hover-delete-description: #bb2d3b;
  --hover-delete-task: #9b1c1c;

  /* Sombras hover de botones */
  --shadow-hover-send-btn: 0 4px 8px rgba(30, 144, 255, 0.3);
  --shadow-hover-save-btn: 0 4px 8px rgba(13, 110, 253, 0.3);
  --shadow-hover-cancel-btn: 0 4px 8px rgba(217, 83, 79, 0.3);
  --shadow-hover-delete-description: 0 4px 8px rgba(220, 53, 69, 0.3);
  --shadow-hover-delete-task: 0 4px 8px rgba(178, 34, 34, 0.3);

  /* Width flexible */

  --flex-width: clamp(340px, 90vw, 367.328px);
}
