.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-text-descripmsg);
}

.select {
  padding: 0.4rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid var(--color-text-descripmsg);
  outline: none;
  transition: all 0.4s ease;
}

.select:hover,
.select:focus {
  border-color: #88888869;
  background-color: #f9f9f9;
}

.low {
  background-color: #e6f7e6;
  border-color: #28a74600;
  color: #0f5132;
}

.medium {
  background-color: #fff4e6;
  border-color: #ffc10700;
  color: #664d03;
}

.hight {
  background-color: #fdecea;
  border-color: #dc354500;
  color: #842029;
}
