.prioritySection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 3rem;
  /* background-color: red; */
}

.btnMsg {
  display: flex;
  align-items: center;
  /* gap: 2rem; */
  opacity: 0.5;
  transition: all 0.4s ease;
  cursor: pointer;
}

.msg {
  color: var(--color-text-input);
}

.btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.Addicon {
  stroke: var(--color-bg-completed);
}

.btnMsg:hover {
  opacity: 1;
  transform: scale(1.04);
}

.priorityNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.starBtn {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  position: relative;
}

.starIcon {
  fill: gold;
  stroke: gold;
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  transition: opacity 0.4s ease;
}


/* .star */

.starBtn:hover .starIcon {
  opacity: 1;
}

.starValue {
  position: absolute;
  inset: 0;
}

.starIcon-- {
  opacity: 1;
}
