.general {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 3rem;
  /* background-color: red; */
}

.btnMsg {
  display: flex;
  align-items: center;
  /* gap: 2rem; */
  opacity: 0.5;
  transition: all 0.4s ease;
  cursor: pointer;
}

.msg {
  color: var(--color-text-input);
}

.btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.Addicon {
  stroke: var(--color-bg-completed);
}

.btnMsg:hover {
  opacity: 1;
  transform: scale(1.04);
}

.priorityNav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  cursor: pointer;
}

.starBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.6rem;
  width: fit-content;
  padding: 0;
  margin: 0;
  background-color: transparent;

  background-color: red;
  border-radius: 2rem;
  padding: 0.2rem;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
}

.starBtn:nth-child(1) {
  border-radius: 5rem;
  min-width: 0;
  width: fit-content;
  padding: 4%;
  background-color: grey;
  opacity: 0.5;
}

.starIcon {
  stroke: var(--color-text-input);
  opacity: 0.5;
  transition: all 0.4s ease;
}

.starValue {
  position: absolute;
  inset: 0;
}

.starIcon-- {
  opacity: 1;
}
